/* This is the main CSS of the application */

html {
    color: #000;
}

/*    NAVBAR    */
/*   --------   */
.navbar {
    padding: 10px 25px;
}
.navbar .nav-link.dropdown-toggle {
    border-radius: 35px;
    border: 1px solid #f2f2f2;
}

/*   CONTENTS   */
/*   --------   */

/* Benefits */
.benefits {
    padding: 10px 40px;
    background-color: #f2f2f2;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
}

/* Hero */

/* Site-wide deals */
.site-wide-deals {
    padding: 40px;
}
.site-wide-deals h5 {
    font-weight: 800;
    font-size: 18px;
    line-height: 21.94px;
}
.site-wide-deals .deal-item {
    text-align: center;
}
.site-wide-deals .deal-item p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12.19px;
}
.discount {
    font-weight: 600;
    font-size: 32px;
    line-height: 39.01px;
}


/* VIP Exclusive */

.vip-exclusive {
    background-image: url('../resources/vip_exclusive_bg.png');
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 20px 40px;
}
.vip-exclusive h2 {
    font-size: 32px;
    padding: unset;
}
.exclusive-shipping, .exclusive-shipping:hover  {
    text-align: left;
    text-decoration: none;
    color: #FFF;
}

/* Trending */
.trending {
    padding: 40px;
}
.trending .col-3 {
    padding: 20px;
}
.products a {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
}
.product-description {
    padding: 12.5px 0;
}
.hashtags {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 10px;
}

.hashtags a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 17.07px;
    font-weight: 600;
}

/* New Arrivals */

.new-arrivals .img-fluid {
    width: 100%;
}


/* Recently Bought */
.recents {
    padding: 40px;
}
.recents .items {
    padding: 20px;
}
.recents .img-fluid {
    width: 100%;
}

.recents .description {
        height: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
}

/* Insta */

.insta {
    padding: 40px;
    background-color: #f2f2f2;
}
.insta .col {
    padding: 20px;
}
.insta .img-fluid {
    width: 100%;
}
.insta p, .trending p {
    padding: 10px 20px 20px 20px;
}

/* Newsletter */

.newsletter {
    background-color: #000;
    color: #FFF;
    padding: 20px;
}
.newsletter h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 39.01px;
}

/* Footer */

footer {
    padding: 40px;
    background-color: #FFF;
}
footer a {
    color: #000;
}
footer a:hover {
    text-decoration: none;
}
footer a.i {
    width: 20px;
    height: 20px;
}
.footer-nav {
    height: 210px;
}
/* HEADINGS */
h2 {
    padding: 10px 20px 20px 20px;
    font-weight: 800;
    font-size: 36px;
    line-height: 43.88px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
}

/* Buttons */
.btn-primary {
    background-color: #000;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    padding: 10px 20px;
    text-align: center;
    border-radius: unset;
}
.btn-primary:hover {
    background-color: #FFF;
    color: #000;
}
.btn-secondary {
    background-color: #FFF;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    padding: 10px 20px;
    text-align: center;
    border-radius: unset;
}
.btn-secondary:hover {
    background-color: #000;
    color: #FFF;
 }

/* Forms */
input.form-control {
    border-radius: unset;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    padding: 10px 20px;
    height: 43.54px;
}

